@{ 
  string Title = Model.String(BlogKeys.Title); 
  string PageTitle = Context.String(BlogKeys.Title) + (string.IsNullOrWhiteSpace(Title)
    ? string.Empty : " - " + Title); 
}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />

  <title>@PageTitle</title>
  <meta name="description" content="@Context.String(BlogKeys.Description)" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Kamran Ayub">

  <link href="@Context.String("FeedUrl")" rel="alternate" title="Kamranicus (RSS)" type="application/atom+xml">
  <link rel="shortcut icon" href="@Context.GetLink("/favicon.png")" type="image/png">
  <link rel="icon" href="@Context.GetLink("/favicon.png")" type="image/png">

  <link href="@Context.GetLink("/assets/ui/semantic.min.css")" rel="stylesheet" />
  <link href="@Context.GetLink("/assets/css/highlight.css")" rel="stylesheet">

  <meta name="application-name" content="@Context.String(BlogKeys.Title)" />
  <meta name="msapplication-tooltip" content="@Context.String(BlogKeys.Title)" />
  <meta name="msapplication-starturl" content="@Context.GetLink("/")" />

  <meta property="og:title" content="@PageTitle" /> 
  @*<meta property="og:image" content="@Blog.Image" />*@
  <meta property="og:type" content="website" />
  <meta property="og:url" content="@Context.GetLink(Model, true)" />
  <meta property="og:site_name" content="Kamranicus" />

  <!-- TODO: More social graph meta tags -->
  <script type="application/ld+json">
  {
      "@@context": "http://schema.org",
      "@@type": "WebSite",
      "name": "Kamranicus",
      "url": "https://kamranicus.com/",
      "sameAs": [
        "http://www.twitter.com/kamranayub"
      ]
  }
  </script>


  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="@Context.GetLink("/assets/js/html5shiv.js")"></script>
    <script src="@Context.GetLink("/assets/js/respond.min.js")"></script>
  <![endif]-->
  <script src="/assets/js/picturefill.min.js" async></script>

  @if(Model.ContainsKey(BlogKeys.HeaderTextColor)) {
    <style>
            .intro-header *, .navbar:not(.is-fixed) * { color: @(Model.String(BlogKeys.HeaderTextColor)) !important; }
            hr { border-color: @(Model.String(BlogKeys.HeaderTextColor)) !important; }
            .btn { color: initial !important }
    </style>
  } 

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1203259-13']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  

  @Html.Partial("_Head")

</head>

<body>

  <!-- Navigation -->
  <div class="ui container">
    <nav class="ui huge text site menu">
      
      <a class="header item" href="@Context.GetLink("/")">@Context.String(BlogKeys.Title)</a>
      
      <div class="ui right item">
        @Html.Partial("_Navbar")
      </div>
    </nav>
  </div>
  <!-- Page Header -->
  @{ 
    string backgroundImage = null; 
    if(Model.String(BlogKeys.Image) != null) { 
      backgroundImage = $"background-image: url(\"{Model.String(BlogKeys.Image)}\")";
    } 
    string headerInverted = Model.Bool("HeaderInverted") ? "inverted" : "";
  }

  <header class="ui vertical masthead segment @headerInverted" id="intro-header" style="@backgroundImage">
    <div class="ui container">
        @if(IsSectionDefined("Header")) { 
          @RenderSection("Header") 
        } else { 
          @Html.Partial("_Header") 
        }
    </div>
  </header>

  <!-- Main Content -->
  <div class="ui stackable grid container">
    <div class="content column">
      @RenderBody()

      <!-- Disqus -->
      @if (Model.Bool("Comments", false)) {
        @Html.Partial("_Disqus");
      }
    </div>
  </div>

  <div class="ui divider"></div>
  
  <!-- Footer -->
  <footer>   
    @Html.Partial("_Footer")
  </footer>

  <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
  <script src="@Context.GetLink("/assets/ui/semantic.min.js")"></script>
  <script src="@Context.GetLink("/assets/js/highlight.pack.js")"></script>

  @Html.Partial("_Scripts")

  <script>hljs.initHighlightingOnLoad();</script>
</body>
</html>